<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse">
      <%= link_to "sample app", home_path, id: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   home_path %></li>
        <li><%= link_to "Help",    help_path %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </div>
  </div>
</header>